.App {
  text-align: center;
}

.goalBody,
.pouroverBody,
.addAmount {
  margin-top: 3em;
}

.secondHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (max-width: 800px) {
  .secondHeader {
    grid-template-columns: 1fr;
  }
}

.goalBody {
  text-align: center;
}

.pouroverBody {
  text-align: center;
}

.addAmount {
  padding-bottom: 3em;
}

.savedLattes {
  padding-bottom: 2em;
}

.weeklyRemainder {
  padding-bottom: 2em;

}

.lattesSaved {
  padding-bottom: 3em;
}