.App {
  text-align: center;
}

.goalBody,
.pouroverBody,
.addAmount {
  margin-top: 3em;
}

.secondHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .secondHeader {
    grid-template-columns: 1fr;
  }
  .goalBody {
    padding-left: 0px;
  }

  .pouroverBody {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .goalBody {
    padding-left: 10em;
  }

  .pouroverBody {
    padding-right: 10em;
  }
}

.addAmount {
  padding-bottom: 3em;
}

.savedLattes {
  padding-bottom: 3em;
}

.lattesSaved {
  padding-bottom: 3em;
}